*.pyc
/.ipynb_checkpoints
.DS_Store
.DS_Store?
/input
/output
*.txt
*.h5
.h5
*.hdf5
.hdf5
notes.md

/sample
/output_old
/src_old
/src_old_2

/output
/output_old
/output_old_2

/notebooks_old
/notebooks_old_2